.main{
    padding: 50px 15px;
    @media (min-width:430px){
        padding: 50px 25px;
    }
    position: relative;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.sec1{
    /* border: 1px solid red; */
    &__content{
        /* border: 1px solid blue; */
        
        &__mod{
            height: 250px;    
            /* min-height:fit-content; */
            display: flex;
            flex-direction: row;
            padding: 10px;
            gap: 10px;
            /* border: 1px solid red; */
            margin-bottom: 30px;
            box-shadow: 1px 1px 2px 3px grey;
            &__img{
                /* border: 1px solid red; */
                width: 60%;
                &__i{
                    width: 100%;
                    height: 100%;
                    border: 2px solid #9e713e;
                    border-radius: 10px; 
                    object-fit: cover;
                }
            }
            &__text{
                /* border: 1px solid red; */
                /* width: 350px; */
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                &__title{
                    padding-bottom: 2px;
                    border-bottom: 1px solid rgb(182, 180, 180);
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    font-size: 1rem;
                    &__price{
                        color: #9e713e;
                    }
                }
                &__p{
                    /* border: 1px solid red; */
                    height: 100%;
                    width: 100%;
                    font-size: 0.8rem;
                    padding: 5px 0 0 0;
                    color: rgb(118, 117, 117);
                }
            }
        }
    }
}

.modal{
    /* border: 1px solid red; */
    .close{
        position: relative;
        left: 93%;
        cursor: pointer;
        color: #9e713e;
        font-weight: 700;
    }
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 1;
    box-shadow: 1px 1px 5px 1px;
    display: none;
    max-width: 45%;
    &__form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__title{
            text-transform: uppercase;
            color: #9e713e;
            font-weight: 700;
        }
        &__enter{
            border-radius: 10px;
            border: 1px solid black;
            padding: 2px 5px;
        }
        &__send{
            border-radius: 10px;
            background-color: #9e713e;
            outline: none;
            color: white;
            border: 0;
            height: 30px;
        }
        &__send:hover{
            cursor: pointer;
        }
    }
}

.mostrar{
    display: block;
}

@media (min-width:530px) {
    .sec1{
        &__content{
            
            &__mod{
                &__img{
                    width: 40%;
                }
                &__text{
                    width: 60%;
                    &__title{
                        font-size: 1.3rem;
                    }
                    &__p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width:900px) {
    .sec1{
        &__content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            padding: 0 30px;
            &__mod{
                max-width: 500px;
                &__img{
                    width: 400px;
                }
                &__text{
                    width: 100%;
                    &__title{
                        font-size: 1.5rem;
                    }
                    &__p{
                        font-size: 1.2rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}