.footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    &__content{
        color: white;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: yellowgreen;
        }
    }
}