.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(174, 111, 15);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    &__content{
        color: white;
        a{
            text-decoration: none;
            color: greenyellow;
        }
    }
}