.header{
    padding: 30px 0 20px 0;
    /* border: 1px solid red; */
    position: relative;
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,0.3) 60%, rgba(0,0,0,0.5) 85%);
    &__img{
        /* border: 1px solid blue; */
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../img/Header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

    }
}

.title{
    text-align: center;
    margin-bottom: 5px;
    font-size: 2.3rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.liner{
    width: 100px;
    border: 1px solid #90530e;
    margin: 0 auto; 
}

.list{
    /* border: 1px solid blue; */
    margin-top: 20px;
    &__art{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        &__li{
            &__a{
                text-decoration: none;
                color: white;
                border-radius: 10px;
                padding: 5px 10px;
                font-weight: 400;
                
            }
            &__a:hover{
                background-color: #9e713e;
                color: white;
            }
        }
    }
}

.selec{
    background-color: #9e713e;
    color: white;
    text-decoration: none;
    border: 1px solid #9e713e;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 400
}

.bton{
    position: absolute;
    top: 10px;
    right: 10px;
    /* border: 2px solid #9e713e; */
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 0.9rem;
    &__ag{
        text-shadow: 1px 1px 2px black;
    }
}

.bton:hover{
    cursor: pointer;
}